name: CI Tests

on:
  push:
    branches: [ main, auto-test-pipeline ]
  pull_request:
    branches: [ main ]

jobs:
  backend-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install backend deps
        working-directory: api
        run: npm install

      - name: Run backend unit tests
        working-directory: api
        run: npm test


  frontend-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install frontend deps
        working-directory: frontend
        run: npm install

      - name: Run frontend unit tests
        working-directory: frontend
        run: npm test


  integration-tests:
    runs-on: ubuntu-latest
    needs: backend-tests

    steps:
      - uses: actions/checkout@v4

      - name: Start DB
        run: docker compose up -d db

      - name: Install backend deps
        working-directory: api
        run: npm install

      - name: Run integration tests
        working-directory: api
        env:
          NODE_ENV: test
        run: npm run test:integration
